@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* ---------- Global ---------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-color: #edede9;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
}

td,
th {
  text-align: center;
  border: 2px solid red;
}

/* ---------- Header ---------- */
.headerContainer {
  background: url("img/hrBanner.jpg") no-repeat center right;
  background-size: cover;
  color: #fff;
  font-size: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 10px 2fr 10px;
  grid-template-rows: 0.5fr 1fr 20px;
  grid-gap: 20px;
}

.headerContainer img {
  margin: auto;
  padding-top: 1rem;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.headerContainer article {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.headerContainer h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.headerContainer span {
  color: #fee440;
  text-transform: uppercase;
  text-shadow: 0 0 2px #ee9b00;
}

.headerContainer p {
  text-shadow: 0 0 2px #001d3d;
}

/* ---------- Navigation ---------- */
.logo {
  max-width: 50px;
}

.navWrap {
  position: sticky;
  top: 0;
  z-index: 99;
  height: 48px;
  width: 100%;
  background-color: #fb8500;
  border-bottom: 1px solid #001d3d;
  box-shadow: 0px 1px 8px #fff0f3;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input#navToggle {
  display: none;
}

input#navToggle ~ label {
  position: relative;
  padding: 0.25rem;
  width: 2rem;
  height: 1.25rem;
  height: 2rem;
}

input#navToggle ~ label > span,
input#navToggle ~ label > span::before,
input#navToggle ~ label > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.75rem;
  height: 0.125rem;
  width: 1.75rem;
  opacity: 1;
  background: #fff;
  transition: 0.14s ease-in-out;
}

input#navToggle ~ label > span::before {
  top: -0.5rem;
}

input#navToggle ~ label > span::after {
  top: 0.5rem;
}

#navToggle:checked ~ label > span {
  width: 0;
  background: rgba(18, 18, 18, 0);
}

#navToggle:checked ~ label > span::before {
  transform: rotateZ(45deg);
  top: 0;
}

#navToggle:checked ~ label > span::after {
  transform: rotateZ(-45deg);
  top: 0;
}

#navToggle:checked ~ nav {
  left: 0;
}

nav {
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: -110%;
  width: 100%;
  transition: 0.22s ease-in-out;
}

nav::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: #f6bd60;
  background-size: cover;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  padding: 0.75rem 1rem;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  transition: 0.14s ease-in-out;
}

nav ul li a:hover {
  color: #001d3d;
  background: #fefae0;
  text-shadow: 0 0 1px #001d3d;
}

nav ul li:last-of-type::before {
  content: "";
  display: block;
  padding: 0.5rem;
}

nav .logout {
  background: #fb8500;
  border-bottom: none;
  border-radius: 4px;
  box-shadow: inset 0 0 5px #ffe5ec;
  color: #fff;
  width: 40%;
  padding: 0.25rem 0.6rem;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #001d3d;
  display: flex;
  justify-content: center;
  margin: auto;
}

nav .logout:hover {
  background-color: #fefae0;
  box-shadow: inset 0 0 5px #000000;
  color: #001d3d;
}

/* ---------- Page`s Layout ---------- */
.page {
  display: none;
  border-radius: 0.8rem;
  border: 2px solid #e0dfdc;
  background-color: #fff;
  padding: 0 10px 0 10px;
  margin-bottom: 10px;
}

/* ---------- Media Query, (min-width: 700px) ---------- */
@media screen and (min-width: 700px) {
  /* ---------- Header, Large screen rules ---------- */
  header.headerContainer {
    background: url(img/hrBanner.jpg) no-repeat center left;
    background-size: cover;
    text-align: left;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 0.25fr 1fr 0.25fr;
    align-items: center;
  }

  .headerContainer img {
    margin: 0 0 0 auto;
    grid-row: 2 / 3;
  }

  .headerContainer article {
    max-width: 1000px;
    grid-column: 3 / 6;
  }

  /* ---------- Navigation, Large screen rules ---------- */
  .navWrap {
    display: grid;
    grid-template-columns: 100px minmax(auto, 1100px);
    justify-content: center;
    height: auto;
  }

  .navToggleLabel {
    display: none;
  }

  nav {
    position: initial;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul li a {
    border-bottom: none;
  }

  nav ul li a:hover {
    background: transparent;
  }

  nav::after,
  nav ul li:last-of-type::before {
    display: none;
    padding: initial;
  }

  nav .logout {
    width: auto;
    background: #c1121f;
    color: #fff;
    letter-spacing: normal;
    text-shadow: none;
    box-shadow: none;
  }

  nav .logout:hover {
    box-shadow: inset 0 0 5px #ca6702;
    background-color: #c1121f;
  }
}

/* ---------- Media Query, (min-width: 1000px) ---------- */
@media screen and (min-width: 1000px) {
}
